@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

body {
  height: 100vh;
  background-image: url(./images/bg-pattern-desktop.svg);
}

.card {
  width: min(100%, 375px);
  margin: 0 auto;
  font-family: "Josefin Sans";
  font-size: 16px;
  overflow: hidden;
}

.card__logo {
  padding: 32px;
  overflow: hidden;
}

.card__logo img {
  max-width: 35%;
}

.card__image {
  overflow: hidden;
}

.card__image img {
  max-width: 100%;
}

.card__body {
  text-align: center;
  padding: 65px 32px 90px;
}

.card__title {
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 10px;
  color: var(--Dark-Grayish-Red);
  font-weight: 600;
}

.card__title span {
  color: var(--Desaturated-Red);
  font-weight: 300;
}

.card__text {
  line-height: 1.5;
  margin: 0 auto;
  font-size: 0.9em;
  font-weight: 400;
  color: var(--Desaturated-Red);
  padding: 16px 0 32px;
}

.card__form {
  position: relative;
}

.card__form input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 16px 24px;
  border-radius: 40px;
  outline: 0;
  color: var(--Desaturated-Red);
  border: 1px solid var(--Desaturated-Red);
}

.card__form input::placeholder {
  color: var(--Desaturated-Red);
  font-family: "Josefin Sans";
  opacity: 0.75;
}

.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  color: white;
  border-radius: 30px;
  background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  box-shadow: 0 20px 20px hsla(0, 93%, 68%, 20%);
  cursor: pointer;
}

.form__submit:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 75%),
    hsl(0, 80%, 86%)
  );
}

.error__icon {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.error__text {
  opacity: 0;
  position: absolute;
  bottom: -25px;
  left: 10px;
  color: var(--Desaturated-Red);
  font-size: 0.9em;
  transition: 0.3s;
}

.error__icon.active,
.error__text.active {
  opacity: 1;
}

@media (min-width: 768px) {
  .card {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 55% auto;
    grid-template-rows: auto 1fr;
    padding: 0;
  }
  .card__logo {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 60px 0 130px 11vw;
  }
  .card__image {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100vh;
  }
  .card__body {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 4vw 0 11vw;
    text-align: left;
  }
  .card__title {
    text-align: left;
    font-size: 4em;
    max-width: 450px;
    margin: 0;
  }
  .card__text {
    padding: 32px 0 45px;
    max-width: 450px;
    margin: 0;
    font-size: 1em;
  }
  .card__logo img {
    max-width: 100%;
  }
  .card__image img {
    content: url(./images/hero-desktop.jpg);
    height: 100%;
    object-fit: cover;
  }
  .card__form {
    max-width: 450px;
  }
  .card__form input {
    margin: 0;
    max-width: 450px;
  }
  .form__submit {
    width: 100px;
  }
  .error__icon {
    right: 100px;
  }
}
